 <%announcement=Announcement.last%>
 <div v-bind:class="{modal: false, 'is-active': navAnnouncement }">
 <div class="announcement-bar">
  <section class="announcement-bar-body">
    <h2><p><strong>Scheduled Maintenance!</strong><button class="delete" aria-label="close" v-on:click="navAnnouncement=false"></button><p></h2>
     <p>This site is undergoing scheduled maintenance at <b><%=announcement.title%></b> at <b><%=announcement.start_date.strftime('%d-%m-%Y  %I:%M%p')%></b> for approximately <b><%=((announcement.end_date-announcement.start_date)/(3600)).round(2)%></b> hours. We apologize for any inconvenience caused during this time.</p>  
  </section>
</div>
</div>