<%announcement=Announcement.last%>
  <%if Time.now <= announcement.start_date%>
   <div class="notification-bar">
    <div>
     <p><strong>Scheduled Maintenance</strong><p>
     <p>This site will be undergoing scheduled maintenance on <%=announcement.title%> at [TIME] for approximately [X] hours. We apologize for any inconvenience caused during this time.</p>
    </div>
    <div class="close">×</div>
   </div>
  <%end%>