<section class="section">
<div v-bind:class="{modal: true, 'is-active': newAnnouncement }">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Create Announcement</p>
    <button class="delete" aria-label="close" v-on:click="newAnnouncement=false"></button>
  </header>
  <section class="modal-card-body">
  <div class="field">
  
      <div class="control">
        <label class="label">Details *</label>    
        <textarea class="textarea" v-model="announcements.title" placeholder="" v-on:input="setTitle" v-on:focusout="setField" v-on:focusin="setFieldFocus"></textarea>
        <p style="color:red;"><b>{{ titleError }}<b></p>   
      </div>
    </div>

    <div class="field">
      <label class="label">Start Date *</label>
      <div class="control">
        <span v-if="showAnnouncement"></span>
        <input class="input"  v-model="announcements.start_date" type="datetime-local" placeholder="Enter Start Time" v-on:input="setStart" v-on:focusout="setStartDate" v-on:focusin="setStartFocus"/>
        <p style="color:red;"><b>{{ startError }}</b></p>
      </div>
    </div>
    
    <div class="field">
      <label class="label">End Date *</label>
      <div class="control">
        <span v-if="showAnnouncement"></span>
        <input class="input"  v-model="announcements.end_date" type="datetime-local" placeholder="Enter End Time" v-on:input="setEnd" v-on:focusout="setEndDate" v-on:focusin="setEndFocus"/>
        <p style="color:red;"><b>{{ endError }}</b></p>
      </div>
    </div>

    <div class="field">
      <label class="label">Scope *</label>
      <div class="control">
        <span v-if="showAnnouncement"></span>
        <select v-model="announcements.scope" v-on:input="setScope" v-on:focusout="setScopeValue" v-on:focusin="setScopeFocus">
             <option disabled value="">Please select one</option>
             <option value="Global">GLOBAL</option>
             <option v-for="item in workspaces" :value="item.name">{{item.name}}</option>
     </select>
     <p style="color:red;"><b>{{ scopeError }}</b></p>
      </div>
    </div>
    
  </section>
  
  <footer class="modal-card-foot">
    <button :disabled="!isDisabled" class="button is-success" v-on:click="announcement();  newAnnouncement = false; newAnnouncementConfirmation = true; announcements.title = ''; announcements.start_date = '', announcements.end_date = ''">Submit</button>
  </footer>
</div>
</div>
</section>
<section class="section">
<div v-bind:class="{modal: true, 'is-active': newAnnouncementConfirmation }">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Create Announcement</p>
    <button class="delete" aria-label="close" v-on:click="newAnnouncementConfirmation=false; backToAnnouncement();"></button>
  </header>
  <section class="modal-card-body">
  <div class="field">
      <label class="label">Announcement created successfully</label>
    </div>
  </section>

</div>
</div>
</section>