export SOURCE_HOST=
export SOURCE_PORT=5432
export SOURCE_DBNAME=
export SOURCE_USERNAME=
export SOURCE_PASSWORD=
export SOURCE_POSTGRES_DOCKER_IMAGE="postgres:11"

export DESTINATION_HOST=
export DESTINATION_PORT=5432
export DESTINATION_DBNAME=
export DESTINATION_USERNAME=
export DESTINATION_PASSWORD=
export DESTINATION_POSTGRES_DOCKER_IMAGE="postgres:13"