<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
    Message:<br>
    ----------
    </h2>
    <h3><p><%= @contactus.comments %></p><br></h3>
    Regards<br>
    <%= @contactus.name %><br>
    <%= @contactus.email %>
  </body>
</html>